<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon">

    <!-- Title -->
    <title>Merlin Element - Coming Soon</title>

    <!-- Meta Description -->
    <meta name="description" content="{{ .Site.Params.description }}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Merlin Element - Coming Soon">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ .Site.Params.image }}">
    <meta property="og:url" content="https">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css"> <!-- Link to your CSS file -->
    
    {{ partial "head.html" . }} <!-- Optional: Include any additional head elements from a partial file -->
</head>
<body>
    <main>
        {{ block "main" . }}{{ end }} <!-- This is where the content of individual pages will go -->
    </main>
    <!-- JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/script.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
